html {
    font-size: 20pt;
}

body {
    --normal-font: 'Dosis', sans-serif;
    --hard-font: 'Open Sans Condensed', sans-serif;

    --color-A: #fdfdeb;
    --color-B: #f9ce00;
    --color-C: #00818a;
    --color-D: #09194f;
    --color-D1: #4d5e94;
    --color-em: var(--color-B);

    --spacing-A: 20px;
    --small: 0.7rem;
    --tiny: 0.4rem;

    color: var(--color-C);
    background: var(--color-D);

    width: 640px;
    min-height: 100vh;
    margin: 0 auto;
    padding: var(--spacing-A);

    text-align: center;
    font-family: var(--normal-font);
}

h1 {
    color: var(--color-A);

    font-family: var(--hard-font);
    font-size: 2.4rem;

    margin-top: 0;
    margin-bottom: 0.55em;
}

a {
    color: var(--color-em);
    text-decoration: underline double;
}

#what-is-this {
    width: 74%;
    margin: auto;
}

#open-source-nice {
    color: var(--color-B);
    font-size: 1rem;
}

#amir-email-user {
    color: var(--color-em);
}

.signature {
    /* font-style: italic; */
    font-size: var(--small);
    color: var(--color-D1);
}

.signature .bio {
    font-style: italic;
}

div.signature p {
    margin: 0;
}

ul.social {
    display: inline-flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    list-style: none;
    font-size: var(--tiny);
    font-style: normal;

    color: var(--color-D1)
}

.social li {
    flex: 0;

    margin: 0 0.6em;
    text-align: center;
}