html {
    font-size: 20pt;
}

* {
    box-sizing: padding-box;
}

body {
    --normal-font: 'Dosis', sans-serif;
    --hard-font: 'Open Sans Condensed', sans-serif;

    --color-A: #fdfdeb;
    --color-B: #f9ce00;
    --color-C: #00818a;
    --color-D: #09194f;
    --color-D1: #4d5e94;
    --color-em: var(--color-B);

    --spacing-A: 20px;
    --small: 0.7rem;
    --tiny: 0.5rem;
    --short: 0.7em;
    --shorter: 0.4em;

    --underline: double;

    color: var(--color-C);
    background: linear-gradient(56deg, var(--color-D1) -90vh, var(--color-D));

    width: 640px;
    min-height: 100vh;
    margin: 0 auto;
    padding: var(--spacing-A);

    text-align: center;
    font-family: var(--normal-font);
}

h1 {
    color: var(--color-A);

    font-family: var(--hard-font);
    font-size: 2.4rem;

    margin-top: 0;
    margin-bottom: 0.55em;
}

p {
    margin: 0.8em 0 1.2em;
}

a {
    color: var(--color-em);
    transition: color 120ms;

    text-decoration: underline var(--underline);
}

a:hover {
    color: var(--color-A);
    text-shadow: var(--color-B) 0 0 5px;
}

#what-is-this {
    width: 74%;
    margin: auto;
}

#open-source-nice {
    color: var(--color-B);
    font-size: 1rem;
}

#amir-email-user {
    color: var(--color-em);
}

.tiny {
    font-size: var(--tiny);
}

.signature {
    /* font-style: italic; */
    line-height: 0.9;
    color: var(--color-D1);
}

.signature .bio {
    font-style: italic;
    font-size: var(--small);
    line-height: 1.05;
}

.signature .name {
    color: var(--color-A);
}

div.signature p {
    margin: var(--short) 0;
}

ul.social {
    display: inline-flex;
    justify-content: space-between;

    margin: 0 0 0.2em;
    padding: 0;

    list-style: none;
    font-size: var(--small);
    font-style: normal;

    color: var(--color-D1)
}

.social li {
    flex: 0;

    margin: 0 0.6em;
    text-align: center;
}

.social a {
    color: var(--color-C);
    text-decoration: none;
}

.social a:hover {
    color: var(--color-A);
    text-decoration: underline var(--underline);
}
